body{
  background-color: rgb(230, 230, 230);
}

.filtros{

}

.input-form, .select-form {
  margin-bottom: 10px;
  border-radius: 5px;
}


.btn {
  padding: 3px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-bottom: 5px;
  background-color: #b4b1b1;
}

.graph{
  max-height: 300px;
  max-width: 300px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../images/loading.gif')
                50% 50%
                no-repeat;
}

.graficos{
  max-width: 300px;
  max-height: 300px;
}